.column {
    display: inline-block;
    float: left;
}

#chart-container {
    padding: 5px;
    font-size: 11px;
}

body {
    background-image: url("../../templates/WordCloud.png");
    background-color: #cccccc;
   }
